<h3>Put in the details of the recipe:</h3>


<form action="/recipes" method="POST">
    <lable>Name</lable>
    <input type="text" id="name" name="name">
    <br>
    <lable>Ingredients</lable>
    <input type="text" id="ingredients" name="ingredients">
    <br>
    <lable>Cook Time</lable>
    <input type="text" id="cook_time" name="cook_time">
    <br>
    <input type="submit" value="submit">
</form>